@charset "UTF-8";
body
{
  background-color: green; 
  background-image: linear-gradient (to right, green, black);
}

h {
  background-color: black
  margin:0px;
  height:160% 
  color:rgb(255, 255, 255);
  text-align: center;
  font-size: 300%;
  font-family: Arial;
}
